@model IEnumerable<Backend.Models.BlocoHorario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipologia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.IdUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.IdDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.IdSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.IdTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipologia.IdDisciplina)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBloco">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBloco">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBloco">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
