@model Backend.Models.UC

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDisciplina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDisciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDisciplina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrauAcademico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrauAcademico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipologia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipologia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDisciplina">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
