@model IEnumerable<Backend.Models.UC>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrauAcademico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipologia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrauAcademico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipologia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDisciplina">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDisciplina">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDisciplina">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
